ScratchingImageTableviews.xcodeproj/project.xcworkspace/xcuserdata/javiercalatravallaveria.xcuserdatad/UserInterfaceState.xcuserstate
ScratchingImageTableviews.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/ScratchingImageTableviews.xcscheme
ScratchingImageTableviews.xcodeproj/xcuserdata/javiercalatravallaveria.xcuserdatad/xcschemes/xcschememanagement.plist
